################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/Extensions/v16
/.vs/Extensions/DesignTimeBuild/.dtbcache
